In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from src.dw import *
plt.style.use('Solarize_Light2')

In [10]:
%load_ext autoreload
%autoreload 2

In [ ]:
# ws_ls = pd.read_csv('data/watershed_lower_sac_total_crop_harvest.csv')
# ws_sj = pd.read_csv('data/watershed_san_joaquin_total_crop_harvest.csv')
# ws_t = pd.read_csv('data/watershed_tulare_total_crop_harvest.csv')

In [ ]:
# data from https://www.drought.gov/drought/states/washington
wa_drought = pd.read_csv('data/wa_drought.csv', index_col='Date')
wa_drought.info()

In [ ]:
#wa_drought.pop('Unnamed: 0')
wa_drought.head()

In [ ]:
fig = (px.line(wa_drought, x=wa_drought.index, y="None", 
               labels={'None' :'Percent of Land in D0-D4'}, title='Percent of WA with no Dryness',
              range_x=['2013-07-01','2016-12-31'])

      )
fig.show()

In [ ]:
fig = (px.line(wa_drought, x=wa_drought.index, y="D0", 
               labels={'D0' :'Percent of Land in D0-D4'}, title='Percent of WA with any Dryness',
              range_x=['2000-01-01','2016-12-31'])

      )
fig.show()

In [ ]:
fig = (px.line(wa_drought, x=wa_drought.index, y="D1", 
               labels={'D1' :'Percent of Land in D1-D4'}, title='Percent of WA with Drought of any severity',
              range_x=['2000-01-01','2017-12-31'])

      )
fig.show()

In [ ]:
#info from https://droughtmonitor.unl.edu/Data/DataDownload/ComprehensiveStatistics.aspx

wa_county_d = pd.read_csv('data/drought_wa_county_cat_percent_total.csv')
wa_county_d.head()

In [ ]:
yakima_ws = pd.read_csv('data/watershed_yakima_total_crop_harvest.csv')
yakima_ws.head()

In [ ]:
fig = (px.line(yakima_ws, x='Year', y="Value", 
               labels={'Value' :'Acres Harvested'}, title='Total Amount of Acres Harvested in Yakima County',
              )

      )
fig.show()

In [ ]:
grapes_df = pd.read_csv('data/grape_sales.csv')
#cleaning grapes data
# grapes_df = grapes_df.replace(np.NaN, 0)
# grapes_df['Value'] = grapes_df['Value'].str.replace(',', '')
# grapes_df['Value'] = grapes_df['Value'].str.replace('(', '')
# grapes_df['Value'] = grapes_df['Value'].str.replace(')', '')
# grapes_df['Value'] = grapes_df['Value'].str.replace('D', '')
# grapes_df['Value'] = grapes_df['Value'].str.replace(' ', '')
# grapes_df.loc[(grapes_df['Value'] == '')] = 0
# grapes_df['Value'] = grapes_df['Value'].astype(int)
# grapes_df.to_csv('data/grape_sales.csv')

In [ ]:
#grapes_df['Value'] = grapes_df['Value'].str.replace(',', '')

In [ ]:
grapes_df['Year'].unique()

In [ ]:
grape_sales_year = grapes_df.groupby('Year')['Value'].sum()
grape_sales_year = grape_sales_year[1:]

In [ ]:
grape_sales_year.plot(figsize=(15,15), logy=False)

In [ ]:
apples_harvest = pd.read_csv('data/apples_acres_harvest.csv')
apples_harvest.head()

In [ ]:
#apples_harvest = clean_val_col(apples_harvest)

apples_harvest['Value'].unique()

In [ ]:
#apples_harvest.to_csv('data/apples_acres_harvest.csv')

In [ ]:
# apples_harvest = grapes_df.replace(np.NaN, 0)
# apples_harvest['Value'] = grapes_df['Value'].str.replace(',', '')
# apples_harvest['Value'] = grapes_df['Value'].str.replace('(', '')
# apples_harvest['Value'] = grapes_df['Value'].str.replace(')', '')
# apples_harvest['Value'] = grapes_df['Value'].str.replace('D', '')
# apples_harvest['Value'] = grapes_df['Value'].str.replace(' ', '')
# grapes_df.loc[(grapes_df['Value'] == '')] = 0
# grapes_df['Value'] = grapes_df['Value'].astype(int)
# grapes_df.to_csv('data/grape_sales.csv')

In [ ]:
apples_harvest_year = apples_harvest.groupby('Year')['Value'].sum()
#grape_sales_year = grape_sales_year[1:]
apples_harvest_year = apples_harvest_year[1:]
apples_harvest_year.plot(figsize=(15,15), logy=False)

In [ ]:
potatoes_proc_or_wa = pd.read_csv('data/potatoes_processed_or_wa.csv')
potatoes_proc_or_wa.head()

In [ ]:
#potatoes_proc_or_wa = clean_val_col(potatoes_proc_or_wa)
potatoes_proc_or_wa['Value'].unique()

In [ ]:
potatoes_proc_or_wa['Value'].unique()

In [ ]:
#potatoes_proc_or_wa.to_csv('data/potatoes_processed_or_wa.csv')
potato_proc_year

In [ ]:
potato_proc_year = potatoes_proc_or_wa.groupby('Year')['Value'].sum()
potato_proc_year = potato_proc_year[1:]
potato_proc_year.where(potato_proc_year.index != 2020).plot(figsize=(15,15), logy=False, title='Potatoes Processed in Or & Wa')

In [48]:
#irrigated winter wheat
wheat_irr_county = pd.read_csv('data/wheat_irr_county.csv')

In [50]:
wheat_irr_county.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        503 non-null    int64
 1   Program           503 non-null    object
 2   Year              503 non-null    int64
 3   Period            503 non-null    object
 4   Week Ending       503 non-null    float64
 5   Geo Level         503 non-null    object
 6   State             503 non-null    object
 7   State ANSI        503 non-null    int64
 8   Ag District       503 non-null    object
 9   Ag District Code  503 non-null    int64
 10  County            503 non-null    object
 11  County ANSI       503 non-null    float64
 12  Zip Code          503 non-null    float64
 13  Region            503 non-null    float64
 14  watershed_code    503 non-null    int64
 15  Watershed         503 non-null    float64
 16  Commodity         503 non-null    object
 17  Data Item         503 non-null    object
 18  Domain            503 non-null    object
 19  Domain Category   503 non-null    object
 20  Value             503 non-null    int64
 21  CV (%)            503 non-null    float64
dtypes: float64(6), int64(6), object(10)
memory usage: 86.6+ KB

In [ ]:
#wheat_irr_county_wa = wheat_irr_county.loc[(wheat_irr_county['State'] == 'WASHINGTON')]

In [ ]:
#wheat_irr_county_wa = clean_val_col(wheat_irr_county_wa)

#wheat_irr_county_wa.to_csv('data/wheat_irr_county.csv')

In [51]:
group_year_plot(wheat_irr_county)

Year
1973    127500
1974    236500
1975    250600
1976    307100
1977    282700
1978    273100
1979    172560
1980     77000
1981    311000
1982    305000
1983    275000
1984    315000
1985    290000
1986    235000
1987    155000
1988    142000
1989    140000
1990    260000
1991    100000
1992    237000
1993    250000
1994    233000
1995    190000
1996    161000
1997    200000
1998    200000
1999    172000
2000    159000
2001    125000
2002    159000
2003    172800
2004    160000
2005    143500
2006    137500
2007    130150
2008    154000
Name: Value, dtype: int64

In [42]:
#not irrigated winter wheat
wheat_no_irr_county = pd.read_csv('data/wheat_no_irr_county.csv')
wheat_no_irr_county.head()

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,SURVEY,2019,YEAR,NaN,COUNTY,IDAHO,16,EAST,90,OTHER (COMBINED) COUNTIES,...,NaN,NaN,0,NaN,WHEAT,"WHEAT, WINTER, NON-IRRIGATED - ACRES HARVESTED",TOTAL,NOT SPECIFIED,"84,600",NaN
1,SURVEY,2019,YEAR,NaN,COUNTY,IDAHO,16,SOUTH CENTRAL,80,OTHER (COMBINED) COUNTIES,...,NaN,NaN,0,NaN,WHEAT,"WHEAT, WINTER, NON-IRRIGATED - ACRES HARVESTED",TOTAL,NOT SPECIFIED,"12,400",NaN
2,SURVEY,2019,YEAR,NaN,COUNTY,KANSAS,20,NORTH CENTRAL,40,OTHER (COMBINED) COUNTIES,...,NaN,NaN,0,NaN,WHEAT,"WHEAT, WINTER, NON-IRRIGATED - ACRES HARVESTED",TOTAL,NOT SPECIFIED,"691,000",NaN
3,SURVEY,2019,YEAR,NaN,COUNTY,KANSAS,20,SOUTH CENTRAL,60,HARVEY,...,NaN,NaN,0,NaN,WHEAT,"WHEAT, WINTER, NON-IRRIGATED - ACRES HARVESTED",TOTAL,NOT SPECIFIED,"58,800",NaN
4,SURVEY,2019,YEAR,NaN,COUNTY,KANSAS,20,SOUTH CENTRAL,60,KIOWA,...,NaN,NaN,0,NaN,WHEAT,"WHEAT, WINTER, NON-IRRIGATED - ACRES HARVESTED",TOTAL,NOT SPECIFIED,"51,900",NaN

In [43]:
wheat_no_irr_county = strip_clean(wheat_no_irr_county, True, 'data/wheat_no_irr_county.csv')

In [47]:
group_year_plot(wheat_no_irr_county)

Year
1973    1992500
1974    2423500
1975    2489400
1976    2577900
1977    2517300
1978    2326900
1979    2027440
1980     474800
1981    2519000
1982    2255000
1983    2225000
1984    2085000
1985    2110000
1986    1865000
1987    1670000
1988    1608000
1989    1160000
1990    1940000
1991     600000
1992    1763000
1993    2250000
1994    2067000
1995    1960000
1996    2189000
1997    1950000
1998    1900000
1999    1498000
2000    1641000
2001    1625000
2002    1641000
2003    1627200
2004    1590000
2005    1656500
2006    1662500
2007    1559850
2008    1506000
Name: Value, dtype: int64

In [40]:
wheat_no_irr_county.head()

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
1068,SURVEY,2008,YEAR,0.0,COUNTY,WASHINGTON,53,CENTRAL,20,OTHER (COMBINED) COUNTIES,...,0.0,0.0,0,0.0,WHEAT,"WHEAT, WINTER, NON-IRRIGATED - ACRES HARVESTED",TOTAL,NOT SPECIFIED,99000,0.0
1069,SURVEY,2008,YEAR,0.0,COUNTY,WASHINGTON,53,EAST CENTRAL,50,OTHER (COMBINED) COUNTIES,...,0.0,0.0,0,0.0,WHEAT,"WHEAT, WINTER, NON-IRRIGATED - ACRES HARVESTED",TOTAL,NOT SPECIFIED,760000,0.0
1070,SURVEY,2008,YEAR,0.0,COUNTY,WASHINGTON,53,SOUTHEAST,90,OTHER (COMBINED) COUNTIES,...,0.0,0.0,0,0.0,WHEAT,"WHEAT, WINTER, NON-IRRIGATED - ACRES HARVESTED",TOTAL,NOT SPECIFIED,647000,0.0
1507,SURVEY,2007,YEAR,0.0,COUNTY,WASHINGTON,53,CENTRAL,20,BENTON,...,0.0,0.0,0,0.0,WHEAT,"WHEAT, WINTER, NON-IRRIGATED - ACRES HARVESTED",TOTAL,NOT SPECIFIED,64900,0.0
1508,SURVEY,2007,YEAR,0.0,COUNTY,WASHINGTON,53,CENTRAL,20,OTHER (COMBINED) COUNTIES,...,0.0,0.0,0,0.0,WHEAT,"WHEAT, WINTER, NON-IRRIGATED - ACRES HARVESTED",TOTAL,NOT SPECIFIED,27300,0.0

In [ ]:
wheat_acres_harvest = pd.concat([dw.group_year_plot(wheat_no_irr_county).rename('no_irr'), dw.group_year_plot(wheat_irr_county).rename('irr')], axis=1)

In [ ]:
wheat_acres_harvest.plot()

In [1]:
#TODO do same for no_irr continuous and no_irr previous summer fallow and add to plot

In [32]:
#no irr continuous

wheat_no_irr_cont_county = pd.read_csv('data/wheat_no_irr_cont_county.csv')

In [33]:
wheat_no_irr_cont_county['Value']

0        1,066,800
1           41,200
2        1,013,000
3           22,600
4          170,700
           ...
23439          320
23440        3,170
23441           30
23442          150
23443          830
Name: Value, Length: 23444, dtype: object

In [34]:
wheat_no_irr_cont_county = strip_clean(wheat_no_irr_cont_county, True, 'data/wheat_no_irr_cont_county.csv')

In [46]:
group_year_plot(wheat_no_irr_cont_county)

Year
1973    141600
1974    236200
1975    338700
1976    403300
1977    297600
1978    272300
1979    374300
1980     72700
1981    351000
1982    276700
1983    284000
1984    270000
1985    270000
1986    275000
1987    208000
1988    291000
1989    230000
1990    385000
1991    124500
1992    286000
1993    410000
1994    438000
1995    360000
Name: Value, dtype: int64

In [ ]:
wa_county6 = pd.read_csv('data/wa_6county_drought_p_cat.csv')
wa_county6['MapDate'] = pd.to_datetime(wa_county6['MapDate'], format='%Y%m%d')
wa_county6.set_index('MapDate', inplace=True)
wa_county6.info()

In [ ]:
# saving index as a datetime???
# wa_county6.to_csv('data/wa_6county_drought_p_cat.csv', date_format='%Y%m%d', index=False)

In [ ]:
yakima_drought = wa_county6.loc[(wa_county6['County'] == 'Yakima County')]
yakima_drought

In [ ]:
#yakima_drought.groupby(by=[b.index.month, b.index.year])[['None', 'D0', 'D1', 'D2', 'D3', 'D4']]

# yakima average drought level per month 2000-2020
yakima_drought.groupby(yakima_drought.index.month)[['None', 'D0', 'D1', 'D2', 'D3', 'D4']].mean()

In [ ]:
# yakima drought level average by year
yakima_year_drought_mean = yakima_drought.groupby(yakima_drought.index.year)[['D0', 'D1', 'D2', 'D3', 'D4']].mean()

yakima_year_drought_mean.plot(figsize=(20,20))

In [ ]:
yakima_drought['any_drought'] = yakima_drought[['D1','D2','D3','D4']].sum(axis=1)

yakima_drought.head()

In [ ]:
fig = (px.line(yakima_drought, x=yakima_drought.index, y='any_drought', 
               labels={'any_drought' :'Percent of Land in D1-D4'}, title='Percent of Yakima County with Drought (Any Severity)',
              range_x=['2000-01-01','2020-01-01'])

      )
fig.show()

In [ ]:
(100 - yakima_drought['None']).plot(figsize=(20,20), title='Percent of Yakima County with Any Drought or Dryness (D0-D4)')

In [ ]:
whitman_drought = dw.county_drought(wa_county6, 'Whitman County')
whitman_drought.head()

In [ ]:
whitman_drought['any_drought'] = whitman_drought[['D1','D2','D3','D4']].sum(axis=1)

In [ ]:
whitman_drought.head()

In [ ]:
fig = (px.line(whitman_drought, x=whitman_drought.index, y='any_drought', 
               labels={'any_drought' :'Percent of Land in D1-D4'}, title='Percent of Whitman County with Drought (Any Severity)',
              range_x=['2000-01-01','2020-01-01'])

      )
fig.show()